*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.border{
    border: 3px solid;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 49, 33);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3vw;
}
.container{
    display: grid;
    width: 100%;
    height: auto;
    position: relative;
}
.container img{

    width: 100%;
    height: 20vw;
    padding: 10px 10px 10px 10px;
}
.container .text{
    position: absolute;
    color: aliceblue;
    font-size: 4vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.sec img{
    width: 50%;
    height: 45vw;
    padding: 10px 10px 10px 10px;
    float: left;
}
.textb{
    color: aliceblue;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
.textb h2{
    text-align: center;
    font-size: 6vw;

}
.textb p{
    font-size: 3vw;
    text-align: justify;
}
.pic img{
    margin: 10px 0 10px 0;
    width: 33%;
    height: auto;

}
.cont h3{
    font-size: 3vw;
    text-align: center;
    color: aliceblue;
}
.cont img{
    width: 49%;
    height: 45vw;
    padding: 10px 10px 10px 10px;
    float: left;


}
.contactform{
    float: right;
    width: 50%;
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: aliceblue;
    margin-right: 0.25vw;
}
.contactform h2
{
    font-size: 3vw;

}
.contactform .input{
    position: relative;
    width: 100%;
    height: 5vw;
    margin-top: 1.5vw;
}
.contactform .input input,
.contactform .input textarea
{
    width: 100%;
   padding: 0.25vw 0;
    font-size: 1.3vw;
    margin: 0.25vw 0;
    margin-right: 0.75vw;
    border: none;
    border-bottom: 0.1vw solid #333;
    outline: none;
    resize: none;
}
.contactform .input span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5vw;
    margin: 0.25vw;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactform .input input:focus ~ span,
.contactform .input input:valid ~ span,
.contactform .input textarea:focus ~ span,
.contactform .input textarea:valid ~ span
{
    color: crimson;
    font-size: 0.8vw;
    transform: translateY(-1vw);
}